In [ ]:
# List - Mutable, low performance, high memory
a_list=[1,4,5,7]
a_list.append('Ahmet')
a_list.append(12)
a_list

[1, 4, 5, 7, 'Ahmet', 12]

In [4]:
# Tuples - Immutable, high performance, less memory
a_tuple=(1,3,5,'Mehmet')
a_tuple

(1, 3, 5, 'Mehmet')

In [6]:
# 3. What is __init__() in Python? - OOP term, initial

class Bookshop:

    def __init__(self,title):
        self.title=title

    def book(self):
        print('Title of book is ',self.title)
        
b=Bookshop('Sandman')
b.book()

Title of book is  Sandman

In [8]:
# Mutable Data Type - List,Dictionary,Set

# List
a_list=[12,34,33]
a_list.append(44)

# Dictioanary
a_dict={'a':1,'b':2}
a_dict['a']=4
print(a_dict)

# Set
a_set={1,2,3}
a_set.add(33)
print(a_set)

{'a': 4, 'b': 2}
{1, 2, 3, 33}

In [9]:
# Immutable Data Types - Numeric,String,Tuples

string= 'Ali Hello'
string= 'Hi' # New Object

a_tuples=('Ahmet',44,33)
print(a_tuples)

('Ahmet', 44, 33)

In [11]:
# Key Error Exception - programmmers try to access the doesn't exist in dictionary

dictionary_capitals= {'Madrid':'Spain','Ankara':'Turkey','london':'United Kingdom'}
dictionary_capitals['Madrid']
dictionary_capitals['Rome']

KeyError: 'Rome'

In [ ]:
# Handling Python KeyError Exceptions

# Preventing Key Error

print(dictionary_capitals.get('Ankara'))

Turkey

In [17]:
capital = 'Ankara'

if capital in dictionary_capitals:
    value=dictionary_capitals[capital]
    print(value)
else:
    print('Key Error with {}'.format(capital))

Turkey

In [20]:
capital='Lisbon'

try:
    value=dictionary_capitals[capital]
    print(value)

except KeyError:
    print('Key : {} is not exist in the dictionary'.format(capital))

Key : Lisbon is not exist in the dictionary

In [27]:
# Swallow Copy and Deep Copy

# Swallow Copy 

import copy

original=['Ahmet','Mehmet','Hasan']

copy_list=copy.copy(original)

copy_list[0]='Huseyin'

print('Original List:',a_list)
print('Copy List: ',copy_list)


# Deep Copy

original=[12,23,45]

copy_list=copy.deepcopy(original)

copy_list[0]=1

print('Original List : ',original)
print('Copy List : ',copy_list)

Original List: ['Huseyin', 'Mehmet', 'Hasan']
Copy List:  ['Huseyin', 'Mehmet', 'Hasan']
Original List :  [12, 23, 45]
Copy List :  [1, 23, 45]

In [33]:
# Monkey Patching

class Monkey:

    def patch(self):
        print('This is patching')


def monkey(self):
    print('monkey is called')


Monkey.patch=monkey

object=Monkey()
object.patch()

monkey is called

In [41]:
# With Statement
with open('myfile.txt','w') as file :
    file.write('Black Friday')

In [40]:
with open('myfile.txt','r') as file_read:
    word=file_read.read()
print(word)

Black Friday

In [ ]:
# Money patchnig

class Monkey:

    def monkey(self):
        print('This is monkey')

def patch(self):
    print('This is patch')

Monkey.monkey=patch

object = Monkey()

object.monkey()

This is patch

In [47]:
#try catch statement

try:
    num1=int(input('Enter the num1: '))
    num2= int(input('Enter the num2: '))
    division=num1/num2
    print(division)
except:
    print('Invalid input')

else:
    print('Successfull')

-12.0
Successfull

In [50]:
# Decorators in Python

def decorator(func):
    def wrapper():
        print('Decorators in Python')
        func()
        print('After that')
    return wrapper

@decorator
def say_hello():
    print('Hello')

say_hello()

Decorators in Python
Hello
After that

In [13]:
import pandas as pd

df1=pd.DataFrame({
    'id':[1,2,3],
    'name':['Ahmet','Hasan','Mehmet']

})

df2=pd.DataFrame({
    'id':[1,2,3],
    'age':[22,55,43]
})

pd.merge(df1,df2,on='id',how='inner')

   id    name  age
0   1   Ahmet   22
1   2   Hasan   55
2   3  Mehmet   43

In [14]:
pd.concat([df1,df2],axis=0)

   id    name   age
0   1   Ahmet   NaN
1   2   Hasan   NaN
2   3  Mehmet   NaN
0   1     NaN  22.0
1   2     NaN  55.0
2   3     NaN  43.0

In [ ]:
import pandas as pd

df5=pd.DataFrame({
    'id':[1,2,4],
    'name':['Ahmet','Hasan','Mehmet']

})

df6=pd.DataFrame({
    'id':[1,2,3],
    'age':[22,55,43]
})

   id_left    name  id_right  age
0        1   Ahmet         1   22
1        2   Hasan         2   55
2        4  Mehmet         3   43

In [31]:
# 17. How do you identify and deal with missing values?

import pandas as pd
import numpy as np


dict={'age':[22,34,45],
     'name':['Mehmet',np.nan,np.nan]}

df = pd.DataFrame(dict)

df.isnull().sum()

age     0
name    2
dtype: int64

In [32]:
# Dealing with missing values

#drop missing value
df.dropna(axis=0,how='any')

#fillna
df.fillna(method='bfill')

# replace to null value
df.replace(to_replace=np.nan,value=10)

# Interpolalte
df.interpolate(method='linear',limit_direction='forward')

C:\Users\karab\AppData\Local\Temp\ipykernel_20828\2183686296.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')
C:\Users\karab\AppData\Local\Temp\ipykernel_20828\2183686296.py:13: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='linear',limit_direction='forward')

   age    name
0   22  Mehmet
1   34     NaN
2   45     NaN